{% load static %}
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <title>Football </title>
        <link rel="stylesheet" id="ample-style-css" href="{% static 'style.css' %}" type="text/css" media="all">
    </head>
    <body class="wide">
        <div id="page" class="hfeed site">
            <header>
                <div class="header">
                    <div class="main-head-wrap inner-wrap clearfix">
                        <div id="header-logo-image">
                            <a href="/">
                                <img src="{% static 'images/logo.png' %}" alt="Football">
                            </a>
                        </div>
                        <div id="header-text" class="">
                            <h1 id="site-title">
                                <a href="/" title="best of the league" rel="home">Football Home</a>
                            </h1>
                            <h2>Championship</h2>
                        </div>
                    </div>
                    <img src="{% static 'images/header.jpg' %}" alt="football image">
                </div>
            </header>
            <div class="main-wrapper">
                <div class="single-page clearfix">
                    <div class="inner-wrap">
                        <p>Intro text.</p>
                        <hr>
                        <div>
                        {% block content %}
    					{% endblock %}
                        </div>
                    </div>
                </div>
            </div>
            <footer id="colophon">
                <div class="inner-wrap">
                    Football stats
                </div>
            </footer>
        </div>
        <script src="{% static 'main.js' %}"></script>
    </body>
</html>
