<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
   </head>
  <body>
    {% extends "template.html" %}
    {% block content %}


   <div class="container mt-3">
    <h2>Home Page</h2>
   

    
    <p> Welcome to the Threat Solution Home Page</p>
    <p> </p>
    </div>
    
    {% endblock %}
  </body>
</html>