<!DOCTYPE html>

<html lang="en" dir="ltr">
 <head>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
  <body>
  
  
   
    {% extends "template.html" %}
    {% block content %}
    
  
<div class="container mt-3">
  <h3>Threat Library</h3> 
  <p>Type any word to filter relevant information:</p>  
  <input class="form-control" id="myInput" type="text" placeholder="Search..">
  <input class="form-control" id="myInput1" type="text" placeholder="Search..">
  <br>
  <table class="table table-bordered">
    <thead>
       <table border="6" cellpadding="6" cellspacing="5">
    
    <th>Characteristics</th>
    <th>Characteristic Guidance</th>
    <th>Threat</th>
    <th>Threat Description</th>
    <th>Requirement</th>
    <th>Assurance Requirement</th>
    </thead>
    <tbody id="myTable">
    {% for row in data %}
        <tr>
        
        <td>{{row.0}}</td>
        <td>{{row.1}}</td>
        <td>{{row.2}}</td>
        <td>{{row.3}}</td>
        <td>{{row.4}}</td>
        <td>{{row.5}}</td>
        
        
        </tr>
    {% endfor %}
    </table> 
    </tbody>
    </table>
    


</div>
</div>        
</div>
     
<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});

</script>
</div>

   
    
 
   {% endblock %}
  </body>
</html>
