<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>World Champions</title>
  </head>
  <body>
   
    {% extends "template.html" %}
    {% block content %}
    
    <h1>Formula 1 Drivers World Champions</h1>
    
    
    <h2>List of World Champions</h2> 
    
    <table border="1" cellpadding="5" cellspacing="5">Driver & Number of Titles
    {% for row in data %}
        <tr>
        {% for d in row %}
            <td>{{ d }} </td>
        {% endfor %}
        </tr>
    {% endfor %}
</table></table>
   
    
    
    
   
    </table>
   {% endblock %}
  </body>
</html>
