<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>What is Formula 1?</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}
    
    <p> Formula One (also known as Formula 1 or F1) is the highest class of single-seater auto racing sanctioned by the Fédération Internationale de l'Automobile (FIA) and owned by the Formula One Group. ... The races must run on tracks graded "1" (formerly "A"), the highest grade-rating issued by the FIA. </p>
    <p> Creating a F1 site with FLASK! </p>
    
    {% endblock %}
  </body>
</html>