<!DOCTYPE html>
<html lang="en" dir="ltr">
 <head>
   <meta charset="utf-8">
   <title>F1 Sports Template</title>
   <link rel="stylesheet" href="filename='C:\Users\Anieb\Anieb's folder\flask_test\static',     filename='css/template.css') }}">
 </head>
 <body>
    <header>
      <div class="container">
        <h1 class="logo">F1 Sports!</h1>
        <strong><nav>
          <ul class="menu">
            <li><a href="http://127.0.0.1:8000/index">Home</a></li>
            <li><a href="http://127.0.0.1:8000/WorldChamps">World Champions</a></li>
            <li><a href="http://127.0.0.1:8000/WhatIsFormula1">What is Formula 1</a></li>
            <li><a href="http://127.0.0.1:8000/admin">Admin</a></li>
          </ul>
        </nav></strong>
      </div>
    </header>
    
    {% block content %}
    {% endblock %}
    
 </body>
</html>